.transfers-table-wrapper {
  padding: 16px;
  margin: 16px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.transfers-table-header {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

@media (max-width: 600px) {
  .transfers-table-header {
    flex-direction: column;
    justify-content: center;
  }
}
