.transfer-wrapper {
  padding: 16px;
  margin: 16px;
  align-items: start;
  display: flex;
  flex-direction: column;
}

.transfer-form {
  display: flex;
  padding-top: 16px;
  gap: 12px;
  align-items: center;
}

.transfer-my-wallet {
  display: flex;
  flex-direction: column;
}

.transfer-alert-message {
  display: flex;
  flex-grow: 1;
  padding-top: 16px;
  justify-content: center;
}
