.transfer-wrapper {
  padding: 16px;
  margin: 16px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.transfer-form {
  display: flex;
  padding-top: 16px;
  gap: 12px;
  align-items: center;
}

.transfer-my-wallet {
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .transfer-form {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .transfer-wrapper {
    align-items: center;
  }
}
